@charset "utf-8";
/* CSS Document */

/*----------------------
    デフォルトスタイル
-----------------------*/
body, p, h1, h2, h3, h4, h5, h6, span, small, strong, div, ul, li, figure, img, header, footer, nav, section {
	margin:0;
	padding:0;
	border:none;
	outline:none;
	font-weight:normal;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
html {
	font:13px/1.3 "ヒラギノ角ゴ Pro W3";
	-webkit-text-size-adjust:none;
}
li {
	list-style:none;
}
/*----------------------
	基本レイアウト
-----------------------*/

body {
	background-position:center top;
	background-repeat:repeat;
	background:#FDF5E6;
	background-position:center top;
	background-repeat:repeat;
	background-size:320px, 568px;
}
/* リンク色変更はここ */
a {
	color:none;
	text-decoration:none;
}
/* 縦ライン */
section#all {
	width:100%;
	height:100%;
	position: relative;
}
/*----------------------------------------
 全ページ共有ここから
----------------------------------------*/
/* ヘッダ部分
--------------------*/
#head {
	width:100%;
	height: 34px;
	position: fixed;
	overflow:hidden;
	background-color:#99cc66;
	box-shadow: 0px 1px 5px #000; /*CSS3*/
	-moz-box-shadow: 0px 1px 5px #000; /* Firefox用*/
	-webkit-box-shadow: 0px 1px 5px #000; /* Google Chrome, Safari用*/
}
#head ul {
	height: 44px;
}
#head ul li {
	text-align: center;
	float: left;
	width: 33%;
}
#head ul li a {
	display:block;
	padding:0%;
	text-align:center;
}
#head ul li:last-child a {
	border-right-color:#FFF;
}
#head ul img {
	width:26px;
	height:26px;
	padding: 5px 0 5px 0;
}
#head ul li#logo {
	width: 33%;
	color:#600;
	line-height: 34px;
	font-weight: bold;
	font-size: 27px;
}

/* メイン
--------------------*/
section.content {
	padding-top:34px;
	width:100%;
	height:100%;
	color:#3cb371;
	padding:auto;
	font-size:16px;
	float:left;
	position:fixed;
}
div.recipes {
	width: 280px;
	font-size: 16px;
	margin: 10px 20px;
	overflow: hidden;
}

a.border {
	margin:auto;
	text-align :left;
	display: inline-block;
	border-radius:50%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	width: 100px;
	height: 100px;
	box-shadow: 0px 0px 10px -2px rgba(0,0,0, 0.8);
 	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
a.mainborder {
	margin:auto;
	text-align :left;
	display: inline-block;
	border-radius:10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
	width: 120px;
	height:80px;
	box-shadow: 0px 0px 10px -2px rgba(0,0,0, 0.8);
*/ 	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
article span {
	width:100%;
	float:left;
}


/* 各関連◯部分
--------------------*/
#icon {
	width:100%;
	margin:0 0 -5% 0;
}

#p1,#p2,#p3,#p4 {
	overflow:hidden;
	width:135px;
/* 	height:185px; */
	height: 160px;
	border-radius: 7px;
}

span {
	font-size:12px;
}


#p1 {
	background-color: #ffcc66;
	float:left;
	color: #900;
	text-align:center;
	padding: 10px 0;
}

#p_img01,#p_img02,#p_img03,#p_img04 {
	width: 120px;
	height: 100px;
	background-size:200px;
	background-position:center center;
	margin:5px auto;
}

/*#p_img01 {
	background-image: url(../../omochi/img/meat.jpg);
}

#p_img02 {
	background-image: url(../../omochi/img/img02.jpg);
}

#p_img03 {
	background-image: url(../../omochi/img/img03.jpg);
}

#p_img04 {
	background-image: url(../../omochi/img/img04.jpg);
}
*/

.position1 a.border {
	border:solid 5px rgba(255,102,0,0.6);
}
.position1 img {
	height:40px;
}

#p2 {
	background-color: #ffcccc;
	float:right;
	color: #900;
	text-align:center;
	padding: 10px 0;

}

.position2 {
	width:50%;
	display:table-cell;
	text-align:center;
	color:#f00;
}

.position2 a.border {
	border:solid 5px rgba(255,0,0,0.6);
}
.position2 img {
	height:40px;
}


#p3 {
	background-color: #99cc99;
	float:left;
	color: #900;
	text-align:center;
	padding: 10px 0;
	margin-top: 14px;
}
.position3 {
	width:50%;
	display:table-cell;
	text-align:center;
	color:#F69;
}
.position3 a.border {
	border:solid 5px rgba(255,102,153,0.6);
}
.position3 img {
	height:40px;
}
#p4 {
	background-color: #F0E68C;
	color: #900;
	text-align:center;
	padding: 10px 0;
	margin-top: 14px;
	float:right;
}
.position4 {
	width:50%;
	display:table-cell;
	text-align:center;
	color:#960;
}
.position4 a.border {
	border:solid 5px rgba(255,204,0,0.6);
	
}
.position4 img {
	height:40px;
}
#p0 {
	width:100%;
	height:33%;
	float:left;
	margin-top:-5%;
	margin-bottom:-5%;
}
article.main {
	width:50％;
	display:table-cell;
	text-align:center;
	color:#3cb371;
}
.main a.mainborder {
	border:solid 5px rgba(153,204,102,0.8);
}
.main img {
	height:40px;
}

/*----------------------
		kakolog
----------------------*/

.viewport {
    width: 320px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
}

.flipsnap {
    width: 960px; /* 320px(item width) * 3(item count) */
}

.item {
	width: 320px;
	height: 190px;
	font-size: 50px;
	text-align: center;
	background: #EFEFEF;
	background-size: 320px;
	background-position: center,center;
}

#kakolog01 {
	background-image: url(../../omochi/img/kakologimg.jpg);
}

#kakolog02 {
	background-image: url(../../omochi/img/kakologimg02.jpg);
}

#kakolog03 {
	background-image: url(../../omochi/img/kakologimg03.jpg);
}


/*----------------------
		float
----------------------*/

.clear {
	clear:both;
}
